@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap");

body {
  background-color: #222;
  color: #eee;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  text-shadow: 1px 1px 2px #000;
}
main {
padding: 0 300px;
  background-color: #555;
  min-height: 80%;
  width: 95%;
  max-width: 1200px;
  margin: auto;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 215px);
  grid-template-rows: repeat(auto-fill, 290px);
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  margin-top: 20px;
  padding: 20px 0;
}

.content {
  background: linear-gradient(#8b7162, #3d3323);
  display: flex;
  border-radius: 10px;
}

.card.no {
  padding: 3px;
  background: linear-gradient(#391414, #de3737);
  border-radius: 10px;
}

.card.yes {
  padding: 3px;
  background: linear-gradient(#14391c, #37de4b);
  border-radius: 10px;
}
.card {
  padding: 3px;
  background: linear-gradient(#3e3e3e, #e0e0e0);
  border-radius: 10px;
}

.content img {
  width: 200px;
  height: auto;
  border-radius: 10px 0 0 10px;
}
.content .desc {
  margin: 10px 5px;
  width: 0;
}
.desc * {
  display: none;
}
.content .desc h2 {
  margin: 0;
  font-size: 24px;
  font-family: cursive;
}
.content .desc h3 {
  margin: 0;
  color: #ccc;
  font-style: italic;

  font-weight: 100;
  font-size: small;
}
.title {
  height: 50%;
}
.user-data {
  height: 30%;
  border: 1px solid #529017;
  border-left: 0;
  border-right: 0;
  padding: 5px 0;
}

.user-data div {
  height: 100%;
  display: flex !important;
  padding: 0 10px;
  background-color: #aeaeae;
  border-radius: 60px;
  justify-content: space-between;
  align-items: center;
}

.user-data label.no {
  color: #de3737;
  text-shadow: 1px 1px 2px #00000090;
}
.user-data label {
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
  display: flex !important;
}
.user-data label.yes {
  color: #00da2f;
  text-shadow: 1px 1px 2px #000000ab;
}

.footer-desc {
  height: 20%;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.footer-desc span:nth-child(1) {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.footer-desc span:nth-child(2) {
  font-family: math;
}
.footer-desc span:nth-child(3) {
  font-family: "Playwrite DE SAS", cursive;
  font-weight: 400;
}

.card:hover .desc {
  width: 350px;
}
.card:hover .desc * {
  display: block;
}

.card:hover {
  z-index: 10;
  width: 560px;
  transition: width 0.3s ease-in-out;
}
